.illustrations__photo-gallery {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 110px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
}


@media screen and (max-width: 1279px) {
    .illustrations__photo-gallery {
        margin-bottom: 140px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .illustrations__photo-gallery {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
}