.header__lead {
    width: 44.6%;
    padding: 0;
    margin: 0;
    margin-bottom: 182px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 400;
}


@media screen and (max-width: 1279px) {
    .header__lead {
        width: 500px;
        margin-bottom: 212px;
    }
}

@media screen and (max-width: 767px) {
    .header__lead {
       width: 100%;
       font-size: 12px;
       margin-bottom: 110px;
    }
}