.welcoming-section__texts {
    width: 46.4%;
    margin: 171px 0;
}


@media screen and (max-width: 1279px) {
    .welcoming-section__texts {
        width: 71.5%;
        margin-top: 121px;
        margin-bottom: 121px;
    }
}

@media screen and (max-width: 767px) {
    .welcoming-section__texts {
        width: 100%;
        margin-top: 0;
        margin-bottom: 180px;
    }
}