.popup__form-input-item {
    width: 500px;
    border: none;
    border-radius: 8px;
    background-color: #1A1A1A;
    margin: 0;
    margin-bottom: 20px;
    padding: 14px 28px 16px 28px;
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

  
@media screen and (max-width: 767px) {
    .popup__form-input-item {
      width: 87%;
      margin-bottom: 10px;
      padding: 12px 18px 12px 18px;
      font-size: 12px;
      line-height: 1.5;
    }
}